:root{
    --primary-color:#5D4E60;
    --secondary-color: #826C7F;
    --background-color: #EFCEFA;
    --accent-color:#A88FAC;
    --light-color:#D4B2D8;

    --title-font:'Poppins',sans-serif;
    --body-font:'Roboto', sans-serif;
}
body{
    background-color: var(--background-color);
    padding-top: 80px;
    font-family: var(--body-font);
}
header{
    background-color: var(--primary-color);
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;

}
.logo{
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 2px 2px 2px white;
}
.logo-afri{
    color: var(--light-color);
}
.logo-talent{
    color: var(--accent-color);
}
.logo:hover{
    letter-spacing: 1px;
}
.navbar{
    padding: 15px 30px;
    background-color: var(--primary-color);
}
.navbar-nav{
    gap: 20px;
}
.navbar-nav .nav-link{
    color: var(--accent-color);
    font-weight: 500;
}
.navbar-nav .nav-link.active{
    color: white;
}
#hero{
    height: 60vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(..//images/team.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 300px;
}

#hh{
    color: white;
    text-align: center;
}
.cta-b{
    align-items: center;
}
h1 h2{
    color: var(--light-color);
}
h1 h2 h3 h4{
    font-family: var(--title-font);
}
p{
    font-family: var(--body-font);
}
#ca{
    margin-top: 60px;
}
img{
    height: 50vh;
}
.btn-outline-light{
    background-color: var(--accent-color);
    border-color: var(--light-color);
}
.btn-primary:hover{
    background-color: var(--accent-color);
    border-color: var(--light-color);
}
.btn-primary:active,.btn-primary:focus{
    background-color: var(--accent-color);
    border-color: var(--light-color);
}
h3{
    color: var(--secondary-color);
}
.cta{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(..//images/team21.jpeg);
    padding: 80px 0;
}
.footer{
    background: var(--primary-color);
    color: white;
    padding: 40px 20px;
}
.footer a{
    color: var(--light-color);
    text-decoration: none;
}
.footer a:hover{
    color: var(--secondary-color);
}
.footer ul{
    list-style: none;
    padding: 0;
}
.footer h4{
    margin-bottom: 10px;
}
tarif
.badge{
    background-color: var(--primary-color);
    color: white;
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: 12px;
}
